---
title: Ruby API Introduction
---

%h2 Ruby API Introduction

%p  We have an official ruby library it is published as a <a target="_blank" href="http://rubygems.org/gems/trakio-ruby">ruby gem</a> and the <a target="_blank" href="https://github.com/trakio/trakio-ruby">source code</a> is avaliable on GitHub. Documentation is still to come though.
