---
title: Segment.io
---

%h2 Segment.io

%p A large number of you are already tracking your users and and their behaviour with <a href='http://segment.io' target='_blank'>Segment.io</a> and have been requesting a trak.io provider. We've heard you and <strong>have a trak.io provider ready to be merged</strong> into Segment.io's open source library <a href='https://segment.io/libraries/analytics.js' target='_blank'>analytics.js</a>.

%h3.header-with-btn
  It's Coming
  %a.btn.btn-danger{ href: 'https://github.com/segmentio/analytics.js/pull/204', target: '_blank' } GitHub Pull Request

%p For those of you who don't know, Segment.io is an abstraction layer for a number of different services which you might want to send this kind of data to. Basically it means you only have to integrate one library (Segment.io's) and then flip on the providers for each service you wish to use.

