---
title: Segment
---

%h2 Segment

%p Trak.io is fully supported by <a href="https://segment.com">Segment</a>, for both client-side Javascript tracking and server side tracking from within iOs, Android, PHP, Ruby or Python or whatever language your app uses!

%p Segment is a third party service to provide an abstraction layer to services such as Trak.io. It means that with one code setup, you can push data to mutliple services quickly and easily.

%p Log in to your <a href="https://segment.com">Segment</a> account and follow their instructions to enable tracking with Trak.io
