.alert-danger.alert.clearfix
  %h4.first No More Anonymous People

  %p As of 2014-09-09, we will no longer track anonymous visitors to your website and apps. All anonymous profiles will been removed from your account, and our JavaScript API will now only track data for your known contacts, such as email subscribers or customers.

  %p To track events and page views you will now need to provide a <code><a href='http://docs.trak.io/distinct_id.html'>distinct_id</a></code> via either <code><a href='http://docs.trak.io/identify.html'>trak.io.identify()</a></code> or <code><a href='http://docs.trak.io/distinct_id.html'>trak.io.distinct_id()</a></code> first.

  %p
    .btn-no-more-anonymous.btn.btn-danger
      More Information
